<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">this is a simple blog, i made it to learn more about express.js,
                 the design was not the focus, so i'm sorry for the appearance.</p>
            <hr class="my-4">
          </div>
        <hr>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %> </h2>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-success">read article</a>
                </div>
                <br>
            </div>
            <% }) %>
    </div>
</body>

<%- include ('partials/footer.ejs') %>